th {
    padding: 10px;
    border-bottom: 1px solid black;
}

td {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.article-body pre code {
    font-size: 0.7em;
}

.article-body blockquote {
    padding: 15px;
}

.vcenter {
    align-items: center;
    vertical-align: middle;
}

.social {
    display: block;
}

.social a {
    color: #449;
    transition: color 0.5s;
    transition: text-shadow 0.5s;
}

.social a:hover  {
    color: white;
    text-shadow: black 0px 0px 20px;
}

article.li .thumb {
    height: 12rem;
}

article.single .thumb {
    height: 30rem;
}

ul li {
  margin-bottom: 10px;
}

.job-experience {
    border: 1px solid gray;
    display: flex;
    border-radius: 20px;
    margin-bottom: 10px;
}

.job-logo {
    float: left;
}

.job-logo img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 20px;
}

.job-data {
    float: right;
    width: 100%;
    position: relative;
}

.job-title {
    font-size: 1.3em;
    margin: 10px;
}

.job-description {
    margin: 20px;
}

.job-tags {
    position: absolute;
    bottom: 0;
    margin: 20px;
}

.job-tag {
    background: #ccc;
    border-radius: 5px;
    margin: 4px;
    padding: 4px;
    display: inline-block;
}