{{- $tags := split (.Get "tags") "," -}}
<div class="job-experience">
    <div class="job-logo">
        <a href="{{ .Get "url" }}">
            <img src="{{ .Get "logo" }}" alt="{{ .Get "company" }}" />
        </a>
    </div>
    <div class="job-data">
        <div class="job-title"><span class="function">{{ .Get "title" }}</span> at <span class="company">{{ .Get "company" }}</span></div>
        <div class="job-description">
            {{ replace .Inner "      " "" | markdownify }}
        </div>
        <div class="job-tags">
            {{- range $tags -}}
            <div class="job-tag">{{ . }}</div>
            {{- end -}}
        </div>
    </div>
</div>
