{{- $tags := split (.Get "tags") "," -}}
<div class="job-experience">
    <div class="job-logo">
        <img src="{{ .Get "logo" }}" alt="{{ .Get "company" }}" />
    </div>
    <div class="job-data">
        <div class="job-title">{{ .Get "title" }}</div>
        <div class="job-description">
            {{ replace .Inner "      " "" | markdownify }}
        </div>
        <div class="job-tags">
            {{- range $tags -}}
            <div class="job-tag">{{ . }}</div>
            {{- end -}}
        </div>
    </div>
</div>
